[user]
	email = Sebastien.Paul.Brumbaugh@empiriecom.com
	name = s-brum
[core]
  pager = delta
  editor = code --wait
[interactive]
  diffFilter = delta --color-only 
  path = ~/work/.gitconfig
[delta]
    navigate = true  # use n and N to move between diff sections
    line-numbers = true
[merge]
    conflictstyle = zdiff3
[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work
[includeIf "gitdir:~/personal/"]
    path = ~/.gitconfig-personal
